######## ############## ############
########  GLOBAL VALUE  ############
######## ############## ############

FRAMEWORK_NAME=DOUBLEMETADOMI
FRAMEWORK_VERSION=0.0.0

FRAMEWORK(){

    printf "${GREEN}----[ ${FRAMEWORK_NAME} Version ${FRAMEWORK_VERSION}\n"
}

####################################
######### COLOR VALUE ##############
####################################

BLUE='\033[0;34m'
ORANGE='\033[0;33m'
GREEN='\033[0;32m'
RED='\033[0;31m'
NC='\033[0m' # No Color

####################################
######### FOLDER VALUE #############
####################################

FOLDER_MSF5=METADOMI5
FOLDER_MSF6=METADOMI6

####################################
######### FOLDER MAKE ##############
####################################

FOLDER_MAKE(){

    mkdir $1
}

####################################
####### LOCAL INSTALL  #############
####################################

LOCAL_VARIABLE(){
    
    printf \
    '
        [ ! ] Give your kali password
    \n'                                   | sed 's/        //g'
    read SUDO_USER
}

####################################
####### REMOTE INSTALL  ############
####################################

REMOTE_VARIABLE(){
    printf \
    '
        [ ! ] Give kali user name
    \n'                                   | sed 's/        //g'
    read USER
    
    printf \
    '
        [ ! ] Give your kali password
    \n'                                   | sed 's/        //g'
    read  SUDO_USER

    printf \
    '
        [ ! ] Give the ip address of your kali
    \n'                                   | sed 's/        //g'
    read IP
}

####################################
###### MENU ########################
####################################

MENU(){

    printf \
    '
        [ 1 ] LOCAL  INSTALL MSF5 
        [ 2 ] LOCAL  INSTALL MSF6 
        [ 3 ] LOCAL  INSTALL MSF5 AND MSF6
        [ 4 ] REMOTE INSTALL MSF5
        [ 5 ] REMOTE INSTALL MSF6
        [ 6 ] REMOTE INSTALL MSF5 AND MSF6

        [ ? ] Give me your choice ]-------
    \n'                                   | sed 's/        //g'
}

INSTALL_MSF5(){
    
    # https://github.com/Dewalt-arch/pimpmykali 
    # I was inspired by this script for the installation of metasploit 5

    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S  apt remove metasploit-framework
    FOLDER_MAKE  $FOLDER_MSF5

    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S apt -y --allow-change-held-packages remove metasploit-framework
    wget                           \
                                          https://archive.kali.org/kali/pool/main/m/metasploit-framework/metasploit-framework_5.0.101-0kali1%2Bb1_amd64.deb -O /tmp/metasploit-framework_5.deb
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S dpkg -i /tmp/metasploit-framework_5.deb
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S gem cleanup reline
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S msfdb init
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S rm -f /tmp/metasploit-framework_5.deb
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S apt-mark hold metasploit-framework
    echo "[+] Install msf5 cmd"
    echo 'alias msf5="msfconsole $1 $2 $3 $4"' >> /home/kali/.zshrc
    source /home/kali/.zshrc >/dev/null
    read
}

####################################
####### INSTALL MSF6  ##############
####################################

INSTALL_MSF6(){


    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S  apt remove metasploit-framework

    wget                           \
                                          https://github.com/rapid7/metasploit-framework/archive/refs/heads/master.zip
    
    unzip                          \
                                          master.zip
    mv metasploit-framework-master \
                                          $FOLDER_MSF6  
    rm                             \
                                          master.zip                                     
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S apt -y  update 
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S DEBIAN_FRONTEND=noninteractive apt install -y  libpq-dev 
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S DEBIAN_FRONTEND=noninteractive apt install -y  ruby-dev 
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S DEBIAN_FRONTEND=noninteractive apt install -y  libpcap-dev 
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S DEBIAN_FRONTEND=noninteractive apt install -y  sqlite3 libsqlite3-dev
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S DEBIAN_FRONTEND=noninteractive apt install -y  postgresql postgresql-client
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S service postgresql start 
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S update-rc.d postgresql enable
    cd                             \
                                          ~/DOUBLEMETADOMI/METADOMI6
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S gem cleanup reline
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S gem install bundler
    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S bundle install

    echo "$(echo $SUDO_USER 2>&1)" \
                                        | sudo -S msfdb init
    echo "[+] Install msf6 cmd"
    echo 'alias msf6="/home/kali/DOUBLEMETADOMI/METADOMI6/msfconsole $1 $2 $3 $4"' >> /home/kali/.zshrc
    source /home/kali/.zshrc >>/dev/null

    read
}

####################################
####### REMOTE INSTALL  ############
####################################

REMOTE_INSTALL(){

/usr/bin/expect -c '
set script tx.dat
spawn sh -c "ssh '$USER'@'$IP' bash < $script"
expect "'$SUDO_USER'"
send "'$SUDO_USER'\r"
interact
'
}

####################################
####### REMOTE MSF5 ################
####################################

REMOTE_MSF5(){

    MSF5_CONF=$(cat tx.dat | sed 's/case ["]*["]/case "1"/g')
    MSF5_CONF=$(echo -n "$MSF5_CONF")
    echo -n "$MSF5_CONF"

    rm tx.dat
    echo -n "$MSF5_CONF" > tx.dat
}

####################################
####### SUDO UP ################
####################################

SUDO_UP(){

    SUDO_UP_CONF=$(cat tx.dat | sed 's/SUDO_USER=["]*["]/SUDO_USER="'$SUDO_USER'"/g')
    SUDO_UP_CONF=$(echo -n "$SUDO_UP_CONF")
    echo -n "$SUDO_UP_CONF"

    rm tx.dat
    echo -n "$SUDO_UP_CONF" > tx.dat
}

####################################
####### SUDO ZER0 ##################
####################################

SUDO_ZER0(){

    SUDO_ZER0_CONF=$(cat tx.dat | sed 's/SUDO_USER=["]*["]/SUDO_USER="0"/g')
    SUDO_ZER0_CONF=$(echo -n "$SUDO_ZER0_CONF")
    echo -n "$SUDO_ZER0_CONF"

    rm tx.dat
    echo -n "$SUDO_ZER0_CONF" > tx.dat
}


####################################
####### REMOTE MSF6 ################
####################################

REMOTE_MSF6(){

    MSF6_CONF=$(cat tx.dat | sed 's/case ["]*["]/case "2"/g')
    MSF6_CONF=$(echo -n "$MSF6_CONF")
    echo -n "$MSF6_CONF"

    rm tx.dat
    echo -n "$MSF6_CONF" > tx.dat
}

####################################
####### REMOTE ZER0 ################
####################################

REMOTE_ZER0(){

    ZER0_CONF=$(cat tx.dat | sed 's/case ["]*["]/case "0"/g')
    ZER0_CONF=$(echo -n "$ZER0_CONF")
    echo -n "$ZER0_CONF"

    rm tx.dat
    echo -n "$ZER0_CONF" > tx.dat
}

####################################
####### MENU INSTALL ###############
####################################

MENU_INSTALL(){

while :; do   
    clear   
    FRAMEWORK
    MENU

    read Keypress

case "$Keypress" in
    "1") 
    clear
    FRAMEWORK;LOCAL_VARIABLE;INSTALL_MSF5;;

    "2") 
    clear
    FRAMEWORK;LOCAL_VARIABLE;INSTALL_MSF6;;

    "3") 
    clear
    FRAMEWORK;LOCAL_VARIABLE;INSTALL_MSF5;INSTALL_MSF6;;

    "4") 
    clear
    FRAMEWORK;REMOTE_VARIABLE;REMOTE_MSF5;REMOTE_INSTALL;REMOTE_ZER0;SUDO_ZER0;;
 
    "5") 
    clear
    FRAMEWORK;\
    REMOTE_VARIABLE;\
    SUDO_UP;\
    REMOTE_MSF6;\
    REMOTE_INSTALL;\
    SUDO_ZER0;\
    REMOTE_ZER0;\
    SUDO_ZER0;;

    "6") 
    clear
    FRAMEWORK;\
                             REMOTE_VARIABLE;\
            SUDO_UP;\
                             REMOTE_MSF5;\
                             REMOTE_INSTALL;\
                             REMOTE_ZER0;\
            SUDO_ZER0;\
            SUDO_UP;\
                             REMOTE_MSF6;\
                             REMOTE_INSTALL;\
                             REMOTE_ZER0;\
            SUDO_ZER0;;

    *             ) echo "Exit";exit 0;
esac   
shift
done
}
#coded under magic'shroom